CHECKOUT_URL=
CHECKOUT_URL_FOUNDERS=
CHECKOUT_URL_ELITE=
CHECKOUT_URL_EARLY=
CHECKOUT_URL_MID=
CHECKOUT_URL_STANDARD=
CHECKOUT_URL_STANDARD_ADDON=
FOUNDERS_CONTACT_URL=
LEMON_VARIANT_ID_FOUNDERS=
LEMON_VARIANT_ID_ELITE=
LEMON_VARIANT_ID_EARLY=
LEMON_VARIANT_ID_MID=
LEMON_VARIANT_ID_STANDARD=
LEMON_PRODUCT_ID_FOUNDERS=
LEMON_PRODUCT_ID_ELITE=
LEMON_PRODUCT_ID_EARLY=
LEMON_PRODUCT_ID_MID=
LEMON_PRODUCT_ID_STANDARD=
LEMON_VARIANT_ID_NAME_ADDON=
LEMON_PRODUCT_ID_NAME_ADDON=
TIER_MAPPING_STRICT=false
TIER_MIN_CENTS_FOUNDERS=1000000
TIER_MIN_CENTS_ELITE=300000
TIER_MIN_CENTS_EARLY=75000
TIER_MIN_CENTS_MID=20000
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=
WEBHOOK_SECRET=
WEBHOOK_SIGNATURE_HEADER=x-signature
ADMIN_KEY=
NAME_ADDON_PRICE=5
STANDARD_PRICE=3
CORS_ORIGIN=
